
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kmer</title>

        
        <link rel="stylesheet" href="https://filebin.net/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://filebin.net/static/css/upload.css"/>
        <link rel="stylesheet" href="https://filebin.net/static/css/custom.css"/>
        <link rel="stylesheet" href="https://filebin.net/static/css/font-awesome.css"/>

    
    </head>

    <body id="fileDrop">
        <div class="container-fluid">

            
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-2">
                        KmerCounting
                    </h1>
                </div>
            </div>

            
            <div class="row table-active">
                <div class="col-sm-12">
                    <br/>
                    <p class="lead">
                        Kmer Counting program and spearmean rank.
                    </p>
                    <p class="lead">
                        <strong>1.</strong>
                        Click <em>Upload files</em>
                    <p class="lead">
                        <strong>2.</strong>
                        Wait until the file uploads complete.
                    </p>
                    <p class="lead">
                        <strong>3.</strong>
                        Download the file
                    </p>

                    
                    <p class="fileUpload btn btn-primary">
                        <span><i class="fa fa-cloud-upload"></i> Upload files</span>
                        <input type="file" class="upload" id="fileField" multiple>
                    </p>
                    <br/>
                </div>
            </div>
            <br/>

            
            <span id="fileList"></span>

            
            <div id="fileCount"></div>
        </div>
    </body>
</html>
